In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### Assigned Task (Part 1)

District Summary
Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score
Calculate the average reading score
Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [4]:
#Creating the needed Series to obtain the answer and values requested
total_schools = len(school_data)
total_students = len(school_data_complete)
budget = school_data["budget"].sum()
avg_math = school_data_complete["math_score"].mean()
avg_read = school_data_complete["reading_score"].mean()
pass_rate = (avg_math + avg_read)/2

math_condition = school_data_complete["math_score"]>=70
math_pass_students = school_data_complete[math_condition]
math_pass_rate = (len(math_pass_students)/total_students)*100


read_condition = school_data_complete["reading_score"]>=70
read_pass_students = school_data_complete[read_condition]
read_pass_rate = (len(read_pass_students)/total_students)*100

In [5]:
# Creating a dataframe to hold the above values and formating for a cleaner output

summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": total_students,
    "Total Budget": budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": math_pass_rate,
    "% Passing Reading": read_pass_rate,
    "% Overall Passing Rate": pass_rate
    
})

summary_df["Total Students"] = summary_df["Total Students"].astype(float).map("{:,.0f}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

### Assigned Task (Part 2)

School Summary
Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)
Create a dataframe to hold the above results

In [17]:
school_group = school_data_complete.groupby(['school_name','type'])

school_group_sums = school_group.mean()
school_group_sums['% Overall Passing Rate'] = (school_group_sums['reading_score'] + school_group_sums['math_score'])/2
school_group_sums['Total Students'] = school_group['Student ID'].count()
sort_test = school_group_sums.sort_values('% Overall Passing Rate',ascending=False)
sort_test

,,Student ID,reading_score,math_score,School ID,size,budget,% Overall Passing Rate,Total Students
school_name,type,,,,,,,,
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0,83.942308,962
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,83.818611,1800
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0,83.809133,427
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,83.633639,1635
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,83.631844,2283
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,83.584128,1468
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,83.542589,1761
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,83.518837,1858
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,79.112082,4635
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,79.041198,4976
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,79.019429,4761
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,78.934893,2949
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,78.924425,2739
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,78.906068,2917
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,78.793698,3999