In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score
Calculate the average reading score
Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [4]:
#Creating the needed Series to obtain the answer and values requested
total_schools = len(school_data)
total_students = len(school_data_complete)
budget = school_data["budget"].sum()
avg_math = school_data_complete["math_score"].mean()
avg_read = school_data_complete["reading_score"].mean()
pass_rate = (avg_math + avg_read)/2

math_condition = school_data_complete["math_score"]>=70
math_pass_students = school_data_complete[math_condition]
math_pass_rate = (len(math_pass_students)/total_students)*100


read_condition = school_data_complete["reading_score"]>=70
read_pass_students = school_data_complete[read_condition]
read_pass_rate = (len(read_pass_students)/total_students)*100

In [5]:
# Creating a dataframe to hold the above values and formating for a cleaner output

summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": total_students,
    "Total Budget": budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": math_pass_rate,
    "% Passing Reading": read_pass_rate,
    "% Overall Passing Rate": pass_rate
    
})

summary_df["Total Students"] = summary_df["Total Students"].astype(float).map("{:,.0f}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606